.user-icon-btn{
    border: none;
    background-color:#ffff;
    border-radius: 24px;
    height: 45px;
    width: 45px;
    padding: 5px;
}
.information-area{
   background-color: #F9F9F9;
   padding: 40px 150px 65px 45px;
   height: 100vh;
   overflow-y: scroll;
}
.information-area::-webkit-scrollbar {
    width: 10px;
  }
    .information-area::-webkit-scrollbar-track {
    background: #F9F9F9; 
  }
    .information-area::-webkit-scrollbar-thumb {
    background: #888; 
      border-radius:10px;
  }
  .information-area::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  } 
.user-info__area{
    position: relative;
    min-height: 100vh;
}
