/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    box-sizing: border-box; 
    margin: 0; 
    padding:44px 70px; 
    font-family:"HelveticaNeue", sans-serif; 
    text-decoration: none;
}

@font-face {
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-01.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-Bold-02.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-BoldItalic-04.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-CondensedBlack-10.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-CondensedBold-05.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-Italic-03.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-Light-08.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-LightItalic-09.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-Medium-11.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-MediumItalic-12.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-Thin-13.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-ThinItalic-14.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-UltraLight-06.ttf) format("truetype");
    src: local("HelveticaNeue"), url(./assets/Fonts/HelveticaNeue-UltraLightItalic-07.ttf) format("truetype");

}

